<footer id="issue-me">
    <h2>Have you spotted something wrong, or do you have anything to add?</h2>
    <ul>
        <a href="https://github.com/sabinmarcu/sabinmarcu.github.io/issues/new?title=Issue%20with%20%22{{page.title}}%22&assignee=sabinmarcu&labels[]=post&labels[]=post:addition&body=Found%20at%20:%0Ahttps://github.com/sabinmarcu/sabinmarcu.github.io/tree/master/{{page.path}}"><li id="addition">Add something</li></a>
        <a href="https://github.com/sabinmarcu/sabinmarcu.github.io/issues/new?title=Issue%20with%20%22{{page.title}}%22&assignee=sabinmarcu&labels[]=post&labels[]=post:omission&body=Found%20at%20:%0Ahttps://github.com/sabinmarcu/sabinmarcu.github.io/tree/master/{{page.path}}"><li id="omission">Found an omission</li></a>
        <a href="https://github.com/sabinmarcu/sabinmarcu.github.io/issues/new?title=Issue%20with%20%22{{page.title}}%22&assignee=sabinmarcu&labels[]=post&labels[]=post:problem&body=Found%20at%20:%0Ahttps://github.com/sabinmarcu/sabinmarcu.github.io/tree/master/{{page.path}}"><li id="problem">Found a problem</li></a>
        <a href="https://github.com/sabinmarcu/sabinmarcu.github.io/issues/new?title=Issue%20with%20%22{{page.title}}%22&assignee=sabinmarcu&labels[]=post&labels[]=post:misc&body=Found%20at%20:%0Ahttps://github.com/sabinmarcu/sabinmarcu.github.io/tree/master/{{page.path}}"><li id="misc">Something else</li></a>
    </ul>
</footer>
