<footer id="issue-me">
    <h2>Have you spotted something wrong, or do you have anything to add?</h2>
    <ul>
        <a href="https://github.com/sabinmarcu/sabinmarcu.github.io/issues/new?title=Issue%20with%20%22{{page.title}}%22&assignee=sabinmarcu&labels[]=post&labels[]=post:addition"><li id="addition">Add something</li></a>
        <a href="https://github.com/sabinmarcu/sabinmarcu.github.io/issues/new?title=Issue%20with%20%22{{page.title}}%22&assignee=sabinmarcu&labels[]=post&labels[]=post:omission"><li id="omission">Found an omission</li></a>
        <a href="https://github.com/sabinmarcu/sabinmarcu.github.io/issues/new?title=Issue%20with%20%22{{page.title}}%22&assignee=sabinmarcu&labels[]=post&labels[]=post:problem"><li id="problem">Found a problem</li></a>
        <a href="https://github.com/sabinmarcu/sabinmarcu.github.io/issues/new?title=Issue%20with%20%22{{page.title}}%22&assignee=sabinmarcu&labels[]=post&labels[]=post:misc"><li id="misc">Something else</li></a>
    </ul>
</footer>
